// ページの初期設定
body,
html {
    margin: 0;
    height: 200%;
    background: #000000;
}

.row>* {
    padding: 0;
}

.container-fluid {
    height: 100%;
    max-width: 960px;
    padding: 0;
}