// ヘッダー部分
header {
    height: 123px;
    img {
        height: 35px;
    }
}

.header-content {
    position: relative;
}

.navi_menu {
    height: 23px;
}

// ドロワーメニュー
#slide_menu {
    position: fixed;
    top: 0;
    right: -240px;
    width: 240px;
    height: 100%;
    background: #e8e8e8;
    opacity: 0.9;
    z-index: 9999;
    ul {
        list-style: none;
        padding: 0;
        margin: 10px 0 0;
    }
    li {
        border-bottom: 1px solid #bfbfbf;
        padding: 20px 20px;
        color: #292929;
        font: {
            size: 16px;
        }
        cursor:pointer;
        transition:.5s;
        &:hover {
            font-size: 17px;
        }
    }
}

//ドロワーアイコン
input[type="checkbox"]:checked~#sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}

.sidebarIconToggle {
    margin-bottom: 0;
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 10000;
    height: 100%;
    width: 100%;
    height: 23px;
    width: 39px;
}

.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #ffffff;
}

.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 10px;
}

.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}

.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 10px;
}

input[type=checkbox]:checked~.sidebarIconToggle>.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}

input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: 8px;
}

input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: -9px;
}