// ページの初期設定
body,
html {
    margin: 0;
}

.row>* {
    padding: 0;
}

.container-fluid {
    height: 100%;
    max-width: 960px;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}