.hero {
    position: relative;
    height: 620px;
    background-image: url("../img/hero_bg.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-bg-sub {
    background-color: grey;
    opacity: 0.2;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 620px;
    z-index: 0;
}

.hero-content {
    margin-top: 46px;
    z-index: 1;
    p {
        margin-top: 46px;
        font: {
            size: 22px;
            family: 小塚ゴシック Pr6N;
        }
        color: #ffffff;
        line-height: 1;
        letter-spacing: 0.04em;
        text-align: center;
    }
}