@mixin text() {
    font: {
        size: 16px;
        family: 小塚ゴシック Pr6N;
    }
    line-height: 1.96;
    letter-spacing: 0.08em;
}

@mixin title() {
    font: {
        size: 30px;
        family: Poppins;
    }
    letter-spacing: 0.02em;
    margin: 20px 0 13px;
}